html, body{
	margin: 0px;
	padding: 0px;
	}
.body {
	margin: 20px;
	padding: 20px;
}
h1 {
	color: blue;
}

.error {
	color: red;
}

.header{
	margin: 20px;
	padding: 20px;
}

a.header {
	padding: 5px;
}

th, td{
	padding: 5px;
	text-align: left;
}
.header{
	margin: 0px;
	padding: 10px;
	background-color: LightGrey;
}

.footer{
	margin: 0px;
	padding: 10px;
	background-color: LightGrey;
}

.test {
	background-color: blue;
}

/* Default styling for all rows */
.table tr {
    color: #333;
    background-color: #f9f9f9;
}

/* Dynamic styling for specific categories */
.category-1 {
    background-color: #ffcccc; /* Light red */
}

.category-2 {
    background-color: #ccffcc; /* Light green */
}

.category-3 {
    background-color: #ccccff; /* Light blue */
}

/* Add hover effect */
.table tr:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.nav-item{
    margin-left: 10px;
}