<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="body">
    <h1>All Event Categories</h1>

<nav th:replace="fragments :: events_nav"></nav>

<p th:unless="${eventCategories} and ${eventCategories.size()}">No categories available!</p>

<table class="table table-striped">

    <thead>
    <tr>
        <th>Category Name</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category : ${eventCategories}" th:class="'category-' + ${category.id}">

        <td>
            <a th:text="${category.name}" th:href="'/events?categoryId=' + ${category.id}"></a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments :: footer}"></div>
</body>


</html>
